<ion-view title="">
  <ion-nav-title>
    <div class="navigation-bar">
        <div class="navigation-bar__primary" ng-click="goTo('home.menu','right');">
            <div class="navigation-bar__icon js-navigation" >
              <i class="icon-svg ion-navicon-round" ></i>
              <span class="navigation-bar__menu-notification" ng-if="notificationMenu"></span>
            </div>
        </div>
        <div class="navigation-bar__title">
            <div class="navigation-bar__logo" style="z-index: 999;">
              <img src="img/logo.png" />
            </div>
        </div>
        <div class="navigation-bar__secondary">
          
            <div class="navigation-bar__icon js-navigation" ui-sref="home.settings" style="margin-right: 15px;">
              <i class="icon-svg ion-levels" ></i>
            </div>          
        </div>
    </div> 
  
</ion-nav-title>
<ion-content style="background:#fff" scroll="true">

<div class="page popularity visible" data-view-id="58" data-vrt-ready="true" style="z-index: 600;">
    <div class="popularity">
        <div class="layout js-screen-container">

            <div class="layout__content layout__content--vpadded">
                <div class="popularity__status">
                    <div class="popularity-status">
                        <div class="popularity-status__battery">
                            <div class="icon icon--stretch " data-qa="icon">
                                <svg class="icon__content icon__content--inactive">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-battery-rect-very-low"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="popularity-status__title">Tu popularidad:<span class="popularity-status__value" data-popularity-level="verylow"> Muy baja</span></div>
                    </div>
                </div>

                <div class="popularity__features qa-promos">
                    <div class="popularity__feature">
                        <div class="popularity-feature js-feature-28 js-button" id="riseup" data-promoblocktype="1">
                            <div class="popularity-feature__image">
                                <div class="icon icon--stretch  icon--branded " data-qa="icon">
                                    <svg class="icon__content icon__content--inactive">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-circle-riseup"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="popularity-feature__info">
                                <div class="popularity-feature__title">Sube en los resultados</div>
                                <div class="popularity-feature__description">Sube en los resultados de búsqueda y haz que te vea aún más gente de tu zona.</div>
                            </div>
                        </div>
                    </div>
                    <div class="popularity__feature">
                        <div class="popularity-feature js-feature-35 js-button" id="spotlight" data-promoblocktype="9">
                            <div class="popularity-feature__image">
                                <div class="icon icon--stretch  icon--branded " data-qa="icon">
                                    <svg class="icon__content icon__content--inactive">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-circle-spotlight"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="popularity-feature__info">
                                <div class="popularity-feature__title">Más visitas</div>
                                <div class="popularity-feature__description">Haz que te vean millones de chicas.</div>
                            </div>
                        </div>
                    </div>
                    <div class="popularity__feature">
                        <div class="popularity-feature js-feature-32 js-button" id="extra-shows" data-promoblocktype="10">
                            <div class="popularity-feature__image">
                                <div class="icon icon--stretch  icon--branded " data-qa="icon">
                                    <svg class="icon__content icon__content--inactive">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-circle-extra-shows"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="popularity-feature__info">
                                <div class="popularity-feature__title">Más conexiones</div>
                                <div class="popularity-feature__description">Haz que más chicas te vean al votar.</div>
                            </div>
                        </div>
                    </div>
                    <div class="popularity__feature">
                        <div class="popularity-feature js-feature-19 js-button" id="spp" data-promoblocktype="8">
                            <div class="popularity-feature__image">
                                <div class="icon icon--stretch  icon--branded " data-qa="icon">
                                    <svg class="icon__content icon__content--inactive">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-circle-spp"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="popularity-feature__info">
                                <div class="popularity-feature__title">Súper Poderes</div>
                                <div class="popularity-feature__description">Aumenta tu popularidad y consigue acceso a servicios especiales que otros chicos no tienen.</div>
                            </div>
                        </div>
                    </div>
                    <div class="popularity__feature">
                        <div class="popularity-feature js-feature-127 js-button" id="attention-boost" data-promoblocktype="56">
                            <div class="popularity-feature__image">
                                <div class="icon icon--stretch  icon--branded " data-qa="icon">
                                    <svg class="icon__content icon__content--inactive">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-circle-attention-boost"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="popularity-feature__info">
                                <div class="popularity-feature__title">Recibe más mensajes</div>
                                <div class="popularity-feature__description">Muestra que estás en línea y empieza a chatear.</div>
                            </div>
                        </div>
                    </div>
                    <div class="popularity__feature">
                        <div class="popularity-feature js-feature-175 js-button" id="bundle-sale" data-promoblocktype="57">
                            <div class="popularity-feature__image">
                                <div class="icon icon--stretch  icon--branded " data-qa="icon">
                                    <svg class="icon__content icon__content--inactive">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-circle-bundle-sale"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="popularity-feature__info">
                                <div class="popularity-feature__title">Triple popularidad</div>
                                <div class="popularity-feature__description">Activa todos los servicios de popularidad y ahorra 50 créditos.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</ion-content>
</ion-view>
