<ion-modal-view class="bg-muted">
  <ion-header-bar>
    <h1 class="title" data-tid="110"></h1>
    <button class="button button-clear " ng-if="!loading" ng-click="closeEditProfileModal()"><i class="icon ion-android-close"></i></button>
  </ion-header-bar>

  <ion-content class="profile">  
    <div class="photos" >
      <div class="row">
        <div class="col col-66">
            <div class="photo-pickable" ng-if="photo1 == null" >
              <div class="w-full r-3x profileP" ng-click="uploadPhoto()" style="height:200px;background-color:#f3f3f3;"></div>
            </div>
            <div class="photo-pickable" ng-if="photo1 != null">
              <div class="w-full r-3x profileP" style="height:200px;background-color:#f3f3f3;background-image:url({{trustPhoto(photo1.photo)}})"></div>
            </div>
        </div>
		
        <div class="col col-33">
            <div class="photo-pickable" ng-if="photo2 == null" >
              <div class="w-full r-3x m-b-xs profileP" ng-click="uploadPhoto()" style="height:100px;background-color:#f3f3f3;"></div>
            </div>
            <div class="photo-pickable" ng-if="photo2 != null" >
              <div class="w-full r-3x m-b-xs profileP" ng-click="showPhotoOptions(2,photo2.id,photo2.blocked,photo2.profile)"  style="height:100px;background-color:#f3f3f3;background-image:url({{trustPhoto(photo2.photo)}})"></div>
            </div>
			
            <div class="photo-pickable" ng-if="photo3 == null" ng-click="uploadPhoto()">
              <div class="w-full r-3x profileP" style="height:100px;background-color:#f3f3f3;"></div>
            </div>
            <div class="photo-pickable" ng-if="photo3 != null">
              <div class="w-full r-3x profileP" ng-click="showPhotoOptions(3,photo3.id,photo3.blocked,photo3.profile)"  style="height:100px;background-color:#f3f3f3;background-image:url({{trustPhoto(photo3.photo)}})"></div>
            </div>
        </div>
		
      </div>
      <div class="row">
        <div class="col col-33">
            <div class="photo-pickable" ng-if="photo4 == null" ng-click="uploadPhoto()">
              <div class="w-full r-3x profileP" style="height:100px;background-color:#f3f3f3;"></div>
            </div>
            <div class="photo-pickable" ng-if="photo4 != null">
              <div class="w-full r-3x profileP" ng-click="showPhotoOptions(4,photo4.id,photo4.blocked,photo4.profile)"  style="height:100px;background-color:#f3f3f3;background-image:url({{trustPhoto(photo4.photo)}})"></div>
            </div>
        </div>
		
        <div class="col col-33">
            <div class="photo-pickable" ng-if="photo5 == null" ng-click="uploadPhoto()">
              <div class="w-full r-3x profileP" style="height:100px;background-color:#f3f3f3;"></div>
            </div>
            <div class="photo-pickable" ng-if="photo5 != null">
              <div class="w-full r-3x profileP" ng-click="showPhotoOptions(5,photo5.id,photo5.blocked,photo5.profile)"  style="height:100px;background-color:#f3f3f3;background-image:url({{trustPhoto(photo5.photo)}})"></div>
            </div>
        </div>
		
        <div class="col col-33">
            <div class="photo-pickable" ng-if="photo6 == null" ng-click="uploadPhoto()">
              <div class="w-full r-3x profileP" style="height:100px;background-color:#f3f3f3;"></div>
            </div>
            <div class="photo-pickable" ng-if="photo6 != null">
              <div class="w-full r-3x profileP" ng-click="showPhotoOptions(6,photo6.id,photo6.blocked,photo6.profile)"  style="height:100px;background-color:#f3f3f3;background-image:url({{trustPhoto(photo6.photo)}})"></div>
            </div>
        </div>  		
      </div>
    </div>  


 <div class="item item-divider b-none" style="background:#fff"></div>
  </ion-content>
</ion-modal-view>
