<ion-view title="Tinder">
  <ion-nav-title>
    <div class="navigation-bar"   >
        <div class="navigation-bar__primary" menu-toggle="left">
            <div class="navigation-bar__icon js-navigation" >
              <i class="icon-svg ion-navicon-round"></i>
              <span class="navigation-bar__menu-notification"></span>
            </div>
        </div>
        <div class="navigation-bar__title">
            <div class="navigation-bar__logo" style="z-index: 999;">
              <img src="img/logo.png" />
            </div>
        </div>
        <div class="navigation-bar__secondary"></div>
    </div>
  </ion-nav-title>

<div class="fab js-fab js-touchable  fab--liked-you">
    <div class="fab-likes">
        <div class="fab-likes__icon js-likes "><img src="img/vote-crush.png" style="position:absolute;left:-10px;width:40px;top:-10px"></div>
        <div class="fab-likes__text">5</div>
    </div>
</div>

<div class="page mutual-attraction visible" style="z-index: 99;" ng-if="matched">
    <div class="page-promo-match" data-view-id="5">
        <div class="promo-match">
            <div class="promo-match__userpic">
                <div class="brick brick--xlg">
                    <div class="brick__image js-image" style="background-image: url()"></div>
                        <i class="icon-svg icon-svg--lg icon-svg--bc">
                            <img src="img/icon-circle-liked-you.png" width="28px"></img>
                        </i>
                    </div>
            </div>
            <div class="cta-box">
                <div class="cta-box__header qa-title">I'ts a match!</div>
                <div class="cta-box__content qa-message js-message"><b>Camila</b> and you like eachother...<br>Will you take the first step?</div>
            </div>
            <div class="promo-match__buttons">
                <div class="promo-match__button">
                    <div class="promo-match-button promo-match-button--sm">
                        <div class="promo-match-button__icon"><i class="icon-svg promo-match-button__icon_">
                        <img src="https://m.badoo.com/img/svg-fallback/multi/huge/icon-circle-action-encounters.png" style="width: 48px;"></img></i>
                    </div>
                        <div class="promo-match-button__label">Volver</div>
                    </div>
                </div>
                <div class="promo-match__button">
                    <div class="promo-match-button promo-match-button--chat">
                        <div class="promo-match-button__icon">
                            <i class="icon-svg promo-match-button__icon_">
                                <img src="https://m.badoo.com/img/svg-fallback/multi/huge/icon-circle-action-chat-coloured.png" style="width: 72px;">
                            </i>
                        </div>
                        <div class="promo-match-button__label">Chatear ahora</div>
                    </div>
                </div>
                <div class="promo-match__button">
                    <div class="promo-match-button promo-match-button--sm">
                        <div class="promo-match-button__icon">
                            <i class="icon-svg promo-match-button__icon_">
                                <svg class="icon-svg_">
                                    <img src="https://m.badoo.com/img/svg-fallback/multi/huge/icon-circle-action-gift.png" style="width: 48px;"></img>
                                </svg>
                            </i>
                        </div>
                        <div class="promo-match-button__label">Send a gift</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ion-content style="background:#fff" scroll="true">
<div class="page-container">

    <div class="page encounters visible" >
        <div class="profile-parent-view">
            <div class="encounters-disabled quota-full" ng-show="false" >
                <div class="encounters-message">
                    <h1>Oops!</h1><span>You have run out of possible Belloo candidates in your area. There will be new people here soon!</span>
                </div>
            </div>
            <div class="encounters-disabled expand-filter" ng-show="false">
                <div class="encounters-message">
                    <h1>Expand your search</h1><span>Sorry, no one fits your preferences. Search for people of other ages?</span>
                    <button class="button button--primary   js-touchable qa-button">
                        <div class="button__content"><span class="button__text">Change your preferences</span></div><span class="button__loader"><i class="icon-svg icon-svg--stretch"><svg class="icon-svg_ icon-svg__inactive"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#loader"></use></svg></i></span></button>
                </div>
            </div>
            <div class="profiles-wrapper" >
                <div class="multi-page-wrapper">
                    <div class="multi-page-child active-profile">
                        <div class="single-profile-view" >
                            <div class="profile-wrapper" >
                                <div class="profile-top-section" >
                                    <div class="profile-top-section-inner">

                                        <div class="js-profile-actions" ng-if="!loading">
                                            <div data-view-id="10">
                                                <div class="profile-actions">
                                                    <div class="profile-action js-vote-action"  ng-click="like();cardDestroyed(0,1);" ng-if="!yesVoted">
                                                      <i class="icon-svg icon-svg--stretch">
                                                        <img src="img/vote-yes.png"></img>
                                                      </i>
                                                    </div>
                                                    <div class="profile-action js-vote-action" ng-if="yesVoted">
                                                      <i class="icon-svg icon-svg--stretch">
                                                        <img src="img/vote-yes-voted.png" ></img>
                                                      </i>
                                                    </div>
                                                    <div class="profile-action js-vote-action" ng-click="nolike();cardDestroyed(0,1);" ng-if="!noVoted">
                                                      <i class="icon-svg icon-svg--stretch">
                                                        <img src="img/vote-no.png" ></img>
                                                      </i>
                                                    </div>
                                                    <div class="profile-action js-vote-action" ng-if="noVoted">
                                                      <i class="icon-svg icon-svg--stretch">
                                                        <img src="img/vote-no-voted.png"></img>
                                                      </i>
                                                    </div>
                                                    <div class="profile-action-chat js-touchable" ng-click="goToChatGlobal('home.messaging','right',cards[0])">
                                                      <i class="icon-svg icon-svg--stretch">
                                                        <img src="img/chat-icon.png"></img>
                                                      </i>
                                                    </div>
                                                    <div class="profile-action-crush js-touchable">
                                                      <i class="icon-svg icon-svg--stretch">
                                                        <img src="img/gift.png"></img>
                                                      </i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="js-photo-gallery">
                                            <div class="galleryView">
                                                <div class="photo-gallery">
                                                    <div class="photo-gallery__page is-active">
                                                        <div class="photo-gallery__item">
                                                            <div class="multimedia">
                                                                <div class="multimedia__image profilePhoto" style="background: url({{cards[0].photo}});">

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="profile-bottom-section">
                                    <div>
                                        <div class="profile-info-skeleton" ng-if="loading">
                                            <div class="skeleton-name"></div>
                                            <div class="skeleton-field"></div>
                                            <div class="skeleton-field"></div>
                                            <div class="skeleton-field"></div>
                                            <div class="skeleton-field"></div>
                                            <div class="skeleton-field"></div>
                                        </div>
                                        <div class="profile-info js-profile-info qa-profile-profile-info-wrapper" ng-if="!loading">
                                            <div data-view-id="20">
                                                <div class="vrt-headline">
                                                    <div class="js-profile-info-section">
                                                            <div class="profile-heading">
                                                                <div class="profile-title ">
                                                                    <div class="profile-title__user qa-headline-text">
                                                                    <span class="profile-title__username">{{cards[0].name}}</span>
                                                                    ,&nbsp;<span class="profile-title__age">{{cards[0].age}}</span>
                                                                        <div class="profile-title__statuses"></div>
                                                                    </div>
                                                                    <div class="profile-title__actions">
                                                                      <i class="icon-svg qa-sharing-icon-button js-sharing-icon-button">
                                                                      <svg class="icon-svg_">
                                                                       <img src="" />
                                                                       </svg>
                                                                      </i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                    </div>
                                                </div>
                                                <div class="profile-list-element vrt-location">
                                                    <div class="js-profile-info-section">
                                                        <div data-view-id="30">
                                                            <div class="profile-section">
                                                                <div class="profile-section__title"><i class="icon-svg"><svg class="icon-svg_"><img src="img/amex.png"></svg></i><b class="profile-section__title_">Current location</b></div>
                                                                <div class="profile-section__content is-decorated js-profile-section">
                                                                    <div>{{cards[0].city}}</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="profile-list-element vrt-gifts">
                                                    <div class="js-profile-info-section" data-view-id="43">
                                                        <div data-view-id="42">
                                                            <div class="profile-section">
                                                              <div class="profile-section__title"><i class="icon-svg"><svg class="icon-svg_"><img src="img/amex.png"></img></i><b class="profile-section__title_">Gifts</b></div>
<div class="profile-section__content is-decorated js-profile-section"><div class="profile-no-gifts js-send" data-id="18"><div class="profile-no-gifts__pic"><div class="gift gift--lg gift--send"><div class="gift__image"><img src="img/lips.png" alt=""></div><div class="gift__icon"><i class="icon-svg"><svg class="icon-svg_"> onloadedmetadata=""</svg></i></div></div></div><div class="profile-no-gifts__info">¡Send a gift and start to chat!</div></div></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="profile-list-element vrt-popularity">
                                                    <div class="js-profile-info-section" data-view-id="33">
                                                        <div data-view-id="32">
                                                            <div class="profile-section">
                                                                <div class="profile-section__title"><i class="icon-svg"><svg class="icon-svg_"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-profile-rating"></use><img src="img/amex.png"></img></svg></i><b class="profile-section__title_">Score</b></div>
                                                                <div class="profile-section__content is-decorated js-profile-section">
                                                                    <div class="profile-rating js-click-action">
                                                                        <div class="profile-rating__score">
                                                                            <canvas width="45" height="45" class="score-display js-score-display" style="width: 45px; height: 45px;"></canvas>
                                                                            <div class="score-display-count js-score-display-count" style="line-height: 45px;">6.56</div>
                                                                        </div>
                                                                        <div class="profile-rating__text">
                                                                            <div class="js-hotness-rating-text"><b>11,051</b> out of <b>16,847</b> people liked her!</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="profile-list-element vrt-personal-info">
                                                    <div class="js-profile-info-section" data-view-id="37">
                                                        <div data-view-id="36">
                                                            <div class="profile-section">
                                                                <div class="profile-section__title"><i class="icon-svg"><svg class="icon-svg_"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-profile-about"></use><img src="img/amex.png"></img></svg></i><b class="profile-section__title_">About me</b></div>
                                                                <div class="profile-section__content is-decorated js-profile-section">

                                                                    <table class="profile-about">
                                                                        <tbody>
                                                                            <tr>{{cards[0].bio}}
                                                                                <td class="profile-about__name grey2">I'm here to</td>
                                                                                <td class="profile-about__value">Make new friends</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td class="profile-about__name grey2">Relationship</td>
                                                                                <td class="profile-about__value">I'm single</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td class="profile-about__name grey2">Appearance</td>
                                                                                <td class="profile-about__value">Average body and brown hair</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td class="profile-about__name grey2">Living</td>
                                                                                <td class="profile-about__value">By myself</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td class="profile-about__name grey2">Kids</td>
                                                                                <td class="profile-about__value">Someday</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td class="profile-about__name grey2">Smoking</td>
                                                                                <td class="profile-about__value">Social smoker</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="profile-list-element vrt-languages">
                                                    <div class="js-profile-info-section" data-view-id="39">
                                                        <div data-view-id="38">
                                                            <div class="profile-section">
                                                                <div class="profile-section__title"><i class="icon-svg"><svg class="icon-svg_"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-profile-language"></use><img src="img/amex.png"></img></svg></i><b class="profile-section__title_">I speak</b></div>
                                                                <div class="profile-section__content is-decorated js-profile-section">
                                                                    <div>Spanish</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="profile-list-element vrt-verification">
                                                    <div class="js-profile-info-section" data-view-id="41">
                                                        <div data-view-id="40">
                                                            <div class="profile-section">
                                                                <div class="profile-section__title"><i class="icon-svg"><svg class="icon-svg_"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-profile-verification"></use><img src="img/amex.png"></img></svg></i><b class="profile-section__title_">Profile verification</b></div>
                                                                <div class="profile-section__content is-decorated">
                                                                    <div class="profile-section__intro"></div>
                                                                    <div class="js-profile-section">
                                                                        <div>
                                                                            <div class="verification-options-parent-vertical" data-view-id="44">
                                                                                <div class="verification-options verification-options--vertical qa-profile-verifications">
                                                                                    <div class="verification-option">
                                                                                        <div class="verification-option__icon">
                                                                                            <div class="brick"><i class="icon-svg icon-svg--xxlg"><svg class="icon-svg_"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-social-circle-facebook"></use><img src="img/icon-social-circle-facebook.png"></img></svg></i></div>
                                                                                        </div>
                                                                                        <div class="verification-option__description">
                                                                                            <div class="verification-option__name">890 friends</div>
                                                                                            <div class="verification-option__message">Verified</div>
                                                                                        </div>
                                                                                        <div class="b-link qa-verification-method js-verification-method" data-type="facebook" data-index="0"></div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="additional-actions qa-additional-actions" ng-if="!loading">
                                            <div class="button-wrapper">
                                                <button class="button button--secondary  js-block-button js-touchable qa-button" data-action="BLOCK-145">
                                                    <div class="button__content"><span class="button__text">Block or Report</span></div><span class="button__loader"><i class="icon-svg icon-svg--stretch"><svg class="icon-svg_ icon-svg__inactive"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#loader"></use></svg></i></span></button>
                                                <button class="button button--destructive  js-unblock-button hidden js-touchable qa-button" data-action="UNBLOCK-149">
                                                    <div class="button__content"><span class="button__text">Unblock</span></div><span class="button__loader"><i class="icon-svg icon-svg--stretch"><svg class="icon-svg_ icon-svg__inactive"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#loader"></use></svg></i></span></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="somethingWrong" ng-show="false">
                            <div class="page-content">
                                <div class="cta-box">
                                    <div class="cta-box__content js-error-img-section"><img src="https://m.badoo.com/img/no-sprite/raccoon.png" alt="" width="175" height="175"></div>
                                    <div class="cta-box__header">Oops!</div>
                                    <div class="cta-box__content">Something went wrong. We're doing everything to fix it and should be up and running soon!</div>
                                    <div class="cta-box__buttons">
                                        <div class="button-wrapper">
                                            <button class="button button--primary   js-touchable qa-button" data-action="REFRESH-135">
                                                <div class="button__content"><span class="button__text">Refresh</span></div><span class="button__loader"><i class="icon-svg icon-svg--stretch"><svg class="icon-svg_ icon-svg__inactive"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#loader"></use></svg></i></span></button>
                                        </div>
                                    </div>
                                    <div class="cta-box__additional js-error-refresh-timer"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</ion-content>
</ion-view>
