     
        <ion-side-menus id="ready" class="hidden">
        <ion-side-menu-content>
                <div class="inapp-notification-wrapper" ng-show="false">
                    <div class="inapp-notification inapp-notification--message">
                        <div class="inapp-notification__promo">
                            <div class="brick-group">
                                <img src="https://badoocdn.com/big/assets/credits_x2/normal/mobile_web/standard/sz___size__/credits_x2.png" alt="" height="45">
                                <mark class="mark mark--sm mark--br" data-qa="inapp-counter">x2</mark>
                            </div>

                        </div>
                        <div class="inapp-notification__content">¡Consigue el doble de créditos! Compra créditos ahora y duplicaremos la cantidad.</div>
                    </div>
                </div>

            <div class="page overlay-page stickers visible" ng-if="showStickers" style="z-index: 600;background: rgba(255,255,255,.7)">
                <div class="tabs tabs--scrollable stickers-tabs js-tabs" style="height: 60px;">
                    <div class="tab  js-sticker-tab">
                        <div class="tab__other">
                            <div class="stickers-tabs__image" data-src="//badoocdn.com/big/assets/stickers_mobile/smile/normal/standard/sz___size__/main.png" style="background-image: url(&quot;//badoocdn.com/big/assets/stickers_mobile/smile/normal/standard/sz___size__/main.png&quot;);"></div>
                        </div>
                    </div>
                </div>
                <div class="stickers-body" scroll="true">
                    <div class="stickers-showcase">
                        <div class="stickers-showcase__item js-sticker" data-id="44">
                            <div class="stickers-showcase__item_"><i class="icon-svg stickers-showcase__loader"><svg class="icon-svg_"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#loader"></use><image src="/img/gifs/small-squares-grey.gif"></image></svg></i>
                                <div class="stickers-showcase__image js-preload" data-src="//badoocdn.com/big/assets/stickers_mobile/fox/thumb/standard/sz___size__/2.png" style="background-image: url(&quot;//badoocdn.com/big/assets/stickers_mobile/fox/thumb/standard/sz___size__/2.png&quot;);"></div>
                            </div>
                        </div>                              
                    </div>
                </div>

                <div class="floating-action stickers-promo" ng-if="showStickers">
                    <div class="cta-box cta-box--compact">
                        <div class="cta-box__header cta-box__header--xsm">Bola de nieve</div>
                        <div class="cta-box__buttons">
                            <div class="button-wrapper">
                                <button class="button button--billing-green" >
                                    <div class="button__content"><span class="button__text">Desbloquear</span></div></button>
                            </div>
                        </div>
                        <div class="cta-box__additional">Coste: 250 créditos</div>
                    </div>
                </div>        
            </div>
                  
        </ion-side-menu-content>
        <ion-side-menu   side="left" width="menuWidth">
                <div class="page overlay-page menu visible"  style="width:{{menuWidth}}px">
                    <div id="menu">
                        <div class="menu-fade-section" scroll="true">
                            <div class="vertical three">
                                <div class="menu-payments font-regular font-small">
                                    <div class="menu-payment js-payment-overlay qa-paid-feature-status qa-spp">
                                        <div class="menu-payment__name qa-paid-feature-status-title">Super Powers</div>
                                        <div class="font-medium menu-payment__value red-level qa-payment-feature-value">Activate</div>
                                        <i class="icon-svg icon-svg--lg menu-payment__icon">
                                            <svg class="icon-svg_">
                                                <img src="https://m.badoo.com/img/svg-fallback/multi/large/icon-spp-sm.png" style="margin-left:15px;width: 36px;"/>
                                            </svg>
                                        </i>
                                    </div>
                                    <div class="menu-payment js-payment-overlay qa-paid-feature-status qa-popularity">
                                        <div class="menu-payment__name qa-paid-feature-status-title">Popularity</div>
                                        <div class="red-level font-medium menu-payment__value qa-payment-feature-value">Low</div>
                                        <i class="icon-svg icon-svg--lg menu-payment__icon">
                                            <svg class="icon-svg_">
                                                <img src="https://m.badoo.com/img/svg-fallback/multi/large/icon-battery-low.png" style="margin-left:15px;width: 36px;"/>
                                            </svg>
                                        </i>
                                    </div>
                                    <div class="menu-payment js-payment-overlay qa-paid-feature-status qa-credits">
                                        <div class="menu-payment__name qa-paid-feature-status-title">Credits</div>
                                        <div class="white-level font-medium menu-payment__value qa-payment-feature-value">{{me.credits}}</div>
                                        <i class="icon-svg icon-svg--lg menu-payment__icon">
                                            <svg class="icon-svg_">
                                                <img src="https://m.badoo.com/img/svg-fallback/multi/large/icon-coins-sm.png" style="margin-left:15px;width: 36px;"/>
                                            </svg>
                                        </i>
                                    </div>
                                </div>
                            </div>


                            <div id="spotlight">
                                <div class="spotlight-heading" ng-click="logout()">
                                    <div class="spotlight-heading__title">Add me here!</div>Get seen by millions!</div>
                                <div class="spotlight-users">
                                    <div class="spotlight-users__item spotlight-users__item--add js-spotlight-add-action js-spotlight-add-after-this">
                                        <div class="brick">
                                            <div class="brick__image"><img src="{{me.profile_photo}}" alt=""></div>
                                            <div class="spotlight-ripple"></div>
                                        </div>
                                    </div>

                                    <div class="spotlight-users__item" ng-repeat="p in spotlight track by $index">
                                         <div class="brick" ng-click="openProfileModal({{p.id}},'{{p.name}}','{{p.photo}}',{{p.age}},'{{p.city}}')">
                                            <div class="brick__image" style="background-image:url('{{trustPhoto(p.spotPhoto)}}');">
                                                <!-- <img src="" class="js-user-img">                                       <span class="dot-notification on-avatar" ng-if="p.status == 1" style="background:#51B80E" ></span> -->
                                            </div>
                                        </div>                                         
                                    </div>                            
                                </div>
                                <div class="js-spotlight-promo">
                                    <div class="spotlight-promo spotlight-promo--visits">
                                        <div class="spotlight-promo__title">8 veces más visitas</div>
                                        <div class="spotlight-promo__description">al hacer que tu foto destaque en Badoo.</div>
                                        <div class="spotlight-promo__actions">
                                            <button class="button button--primary js-action-button js-touchable qa-button">
                                                <div class="button__content"><span class="button__text" style="color: #fff">¡Destaca!</span></div>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="spotlight-cost">Coste: 100 créditos</div>
                            </div>
                        </div>
                        <div class="menu-slide-section" data-view-id="88">
                            <div class="menu-navigation" data-view-id="91">
                                <div class="font-medium menu-navigation-item menu-navigation-item--profile  js-menu-link js-touchable qa-menu-link">
                                    <div class="menu-navigation-item_"
                                    ng-click="openProfileModal( {{me.id}} , '{{me.first_name}}' , '{{me.profile_photo}}' , {{me.age}} , '{{me.city}}' )">
                                        <div class="brick menu-navigation-item__avatar">
                                            <div class="brick__image"><img src="{{me.profile_photo}}"></div>
                                        </div>
                                        <div class="menu-navigation-item__name">{{me.first_name}}</div>
                                    </div>
                                </div>
                                <div class="font-medium menu-navigation-item is-active js-menu-link js-touchable" ng-click="goTo('home.explore','right');">
                                    <div class="menu-navigation-item_">
                                        <i class="icon-svg menu-navigation-item__icon ion-ios-loop-strong" style="font-size:24px"></i>
                                        <div class="menu-navigation-item__name">Encounters</div>
                                    </div>
                                </div>
                                <div class="font-medium menu-navigation-item js-menu-link js-touchable" ng-click="goTo('home.meet','right');">
                                    <div class="menu-navigation-item_">
                                        <i class="icon-svg menu-navigation-item__icon ion-android-globe" style="font-size:24px"></i>
                                        <div class="menu-navigation-item__name">People Nearby</div>
                                    </div>
                                </div>                                
                                <div class="font-medium menu-navigation-item js-menu-link js-touchable">
                                    <div class="menu-navigation-item_">
                                        <i class="icon-svg menu-navigation-item__icon ion-flame" style="font-size:24px;color:#FDDE02"></i>
                                        <div class="menu-navigation-item__name">Most Populars</div>
                                    </div>
                                </div>                                                                
                                <div class="font-medium menu-navigation-item js-menu-link js-touchable" ng-click="goTo('home.matches','right');">
                                    <div class="menu-navigation-item_">
                                        <i class="icon-svg menu-navigation-item__icon ion-ios-chatbubble" style="font-size:24px"></i>
                                        <div class="menu-navigation-item__name">Messages</div>
                                    </div>
                                </div>

                                <div class="font-medium menu-navigation-item js-menu-link js-touchable">
                                    <div class="menu-navigation-item_">
                                        <i class="icon-svg menu-navigation-item__icon ion-ios-heart" style="font-size:24px"></i>
                                        <div class="menu-navigation-item__name">Liked You</div>
                                        <mark class="mark mark--sm menu-navigation-item__counter"><span class="mark__text">5</span></mark>
                                    </div>
                                </div>
                                <div class="font-medium menu-navigation-item js-menu-link js-touchable">
                                    <div class="menu-navigation-item_">
                                        <i class="icon-svg menu-navigation-item__icon ion-eye" style="font-size:24px"></i>
                                        <div class="menu-navigation-item__name">Visitors</div>
                                        <mark class="mark mark--sm menu-navigation-item__counter"><span class="mark__text">52</span></mark>
                                    </div>
                                </div>                                                                
                            </div>
                        </div>
                    </div>
                </div>            
        <ion-side-menu>
        </ion-side-menus> 