<ion-view title="Tinder">
  <ion-nav-title>
    <div class="navigation-bar"   >
      <div class="navigation-bar__primary">
        <div class="navigation-bar__icon js-navigation" ng-click="goBack()">
          <i class="icon-svg ion-arrow-left-c"></i>
        </div>
      </div>
      <div class="navigation-bar__title">
        <div class="navigation-bar__logo" style="z-index: 999;">
          <img src="img/logo.png" />
        </div>
      </div>
    </div>
  </ion-nav-title>

  <ion-content  delegate-handle="modalContent" scroll="true">
    <div class="page own-profile visible" style="z-index: 600;" data-vrt-ready="true">

      <div class="profiles-wrapper">
        <div class="multi-page-wrapper">
          <div class="multi-page-child active-profile">
            <div class="single-profile-view" data-view-id="43">
              <div class="profile-wrapper">
                <div class="profile-top-section">
                  <div class="profile-top-section-inner">
                    <div class="profile-photo-placeholder js-male-placeholder"></div>
                    <div class="profile-photo-placeholder js-female-placeholder "></div>
                    <div class="profile-top-meta js-top-meta"></div>
                    <div class="js-photo-gallery">
                      <div class="galleryView" data-view-id="50">
                        <div class="photo-grid" data-photo-grid-rows="2">
                          <div class="sticky-scroll js-sticky-scroller" data-view-id="80">
                            <div class="sticky-scroll_ js-scrollable" style="transform: translate3d(0px, 0px, 0px);">
                              <div class="photo-grid__page is-active">
                                <div class="photo-grid__item">
                                  <div class="photo-grid__tile photo-grid__tile--add-photos js-add-photos">
                                    <div class="photo-grid__tile-content"><img src="img/add-photo.png">
                                      <div class="photo-grid__tile-label">Add photos or videos</div>
                                    </div>
                                  </div>
                                </div>
                                <div class="photo-grid__item">
                                  <div class="photo-grid__item-image js-item-photos" style="background-position: 57% 20%; background-image: url(img/gata1.jpg);"></div>
                                </div>
                                <div class="photo-grid__item">
                                  <div class="photo-grid__item-image js-item-photos" style="background-position: 57% 20%; background-image: url(img/gata2.jpg);"></div>
                                </div>
                                <div class="photo-grid__item">
                                  <div class="photo-grid__item-image js-item-photos" style="background-position: 57% 20%; background-image: url(img/gata3.jpg);"></div>
                                </div>
                                <div class="photo-grid__item">
                                  <div class="photo-grid__item-image js-item-photos" style="background-position: 57% 20%; background-image: url(img/gata4.jpg);"></div>
                                </div>
                              <div class="photo-grid__item">
                                <div class="photo-grid__tile photo-grid__tile--private js-private-photos js-private-photos-action">
                                  <div class="photo-grid__tile-image" style="background-image: url('//pcache-us1.badoocdn.com/p542/20546/5/1/7/1408461479/d1328721/t1487891273/c_hZ0PznuVbqgeZUfB4Z7fgkBUAuGGtZe0PflTWsxmKZU/1328721433/dfs_768y1366/osz___size__.jpg?wm_id=8&amp;vp_x1=__vp_x1__&amp;vp_x2=__vp_x2__&amp;vp_y1=__vp_y1__&amp;vp_y2=__vp_y2__&amp;vp_scale=__vp_scale__&amp;wm_left_offs=__wm_offset__&amp;wm_size=__wm_size__&amp;t=5.5.221.0&amp;id=1328721433'); background-position: 57% 20%"></div>
                                  <div class="photo-grid__tile-content"><img src="img/add-photo.png">
                                    <div class="photo-grid__tile-label js-private-photos-label">Add privates photos</div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="paid-features-status-wrapper js-paid-features-status">
                    <div>
                      <div data-view-id="57" class="horizontal three">
                        <div class="paid-features-status">
                          <div class="paid-feature js-payment-overlay qa-paid-feature-status qa-spp" data-feature="19">
                            <div class="paid-feature__icon"><img src="img/icon-spp.png" width="30"></div>
                            <div class="paid-feature__info">
                              <div class="paid-feature__label qa-paid-feature-status-title">Superpowers</div>
                              <div class="paid-feature__value paid-feature__value--inactive qa-payment-feature-value">Activate</div>
                            </div>
                          </div>
                          <div class="paid-feature js-payment-overlay qa-paid-feature-status qa-popularity" data-feature="103">
                            <div class="paid-feature__icon"><img src="img/icon-battery-very-low.png" width="30"></div>
                            <div class="paid-feature__info">
                              <div class="paid-feature__label qa-paid-feature-status-title">Popularity</div>
                              <div class="paid-feature__value paid-feature__value--very-low qa-payment-feature-value">Very low</div>
                            </div>
                          </div>
                          <div class="paid-feature js-payment-overlay qa-paid-feature-status qa-credits" data-feature="36">
                            <div class="paid-feature__icon"><img src="img/icon-coins.png" width="30"></div>
                            <div class="paid-feature__info">
                              <div class="paid-feature__label qa-paid-feature-status-title">Credits</div>
                              <div class="paid-feature__value qa-payment-feature-value">0</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="profile-bottom-section">
                <div>
                  <div class="profile-info js-profile-info qa-profile-profile-info-wrapper">
                    <div data-view-id="54">
                      <div class="vrt-headline">
                        <div class="js-profile-info-section" data-view-id="59">
                          <div data-view-id="58">
                            <div class="profile-heading">
                              <div class="profile-title ">
                                <div class="profile-title__user qa-headline-text"><span class="profile-title__username">Lindoo</span>,&nbsp;<span class="profile-title__age">23</span>
                                  <div class="profile-title__statuses"><i class="online-status online-status--online"></i></div>
                                </div>
                                <div class="profile-title__actions"><img src="img/icon-profile-share.png" width="21" height="21"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="hidden"></div>
                      <div class="hidden"></div>
                      <div class="hidden"></div>
                      <div class="hidden"></div>
                      <div class="profile-list-element vrt-location">
                        <div class="js-profile-info-section" data-view-id="62">
                          <div data-view-id="61">
                            <div class="profile-section">
                              <div class="profile-section__title"><i class="icon-svg"><svg class="icon-svg_"><img src="img/amex.png"></svg></i><b class="profile-section__title_">Current location</b>
                                <div class="profile-section__link action">Edit</div>
                              </div>
                              <div class="profile-section__content is-decorated js-profile-section">
                                <div>Montevideo</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="hidden"></div>
                      <div class="profile-list-element vrt-interests">
                        <div class="js-profile-info-section" data-view-id="64">
                          <div data-view-id="63">
                            <div class="profile-section">
                              <div class="profile-section__title"><i class="icon-svg"><svg class="icon-svg_"><img src="img/amex.png"></svg></i><b class="profile-section__title_">Interests</b>
                                <div class="profile-section__link action">Edit</div>
                              </div>
                              <div class="profile-section__content is-decorated js-profile-interests">
                                <div class="interests js-profile-section-interests">
                                  <div class="interest qa-interest-bubble js-interest-bubble" data-group="" data-id="">Rock</div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!--
                      <div class="profile-list-element vrt-awards">
                        <div class="js-profile-info-section" data-view-id="68">
                          <div class="profile-field-view" data-view-id="67">
                            <div class="profile-section">
                              <div class="profile-section__title"><i class="icon-svg"><svg class="icon-svg_"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-profile-awards"></use><image src="/img/svg-fallback/mono-grey/medium/icon-profile-awards.png"></image></svg></i><b class="profile-section__title_">2 premios</b>
                                <div class="profile-section__link action">Hazte con más premios</div>
                              </div>
                              <div class="profile-section__content is-decorated js-profile-section">
                                <div class="profile-section__scrollable js-profile-section-scrollable">
                                  <div class="profile-awards">
                                    <div class="profile-award">
                                      <div class="award-new js-award-item" data-index="0">
                                        <div class="award-new__image"><img src="//badoocdn.com/big/assets/award_icons/thumb/mobile_web/standard/sz___size__/active.png" alt=""></div>
                                        <div class="award-new__label">El más activo</div>
                                      </div>
                                    </div>
                                    <div class="profile-award">
                                      <div class="award-new js-award-item" data-index="1">
                                        <div class="award-new__image"><img src="//badoocdn.com/big/assets/award_icons/thumb/mobile_web/standard/sz___size__/picky.png" alt=""></div>
                                        <div class="award-new__label">El más exigente</div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      -->
                      <div class="profile-list-element vrt-popularity">
                        <div class="js-profile-info-section" data-view-id="66">
                          <div data-view-id="65">
                            <div class="profile-section">
                              <div class="profile-section__title"><i class="icon-svg"><svg class="icon-svg_"><img src="img/amex.png"></svg></i><b class="profile-section__title_">Punctuation</b></div>
                              <div class="profile-section__content is-decorated js-profile-section">
                                <div class="profile-rating js-click-action">
                                  <div class="profile-rating__score">
                                    <canvas width="45" height="45" class="score-display js-score-display" style="width: 45px; height: 45px;"></canvas>
                                    <div class="score-display-count js-score-display-count" style="line-height: 45px;">6,60</div>
                                  </div>
                                  <div class="profile-rating__text">
                                    <div class="js-hotness-rating-text">¡They like you <b>19</b> of <b>29</b> people!</div><span class="button-text js-increase-score-action">Increase your score</span></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="profile-list-element vrt-personal-info">
                          <div class="js-profile-info-section" data-view-id="70">
                            <div data-view-id="69">
                              <div class="profile-section">
                                <div class="profile-section__title"><i class="icon-svg"><svg class="icon-svg_"><img src="img/amex.png"></svg></i><b class="profile-section__title_">Sobre mí</b>
                                  <div class="profile-section__link action">Edit</div>
                                </div>
                                <div class="profile-section__content is-decorated js-profile-section">
                                  <p>traveler</p>
                                  <table class="profile-about">
                                    <tbody>
                                      <tr>
                                        <td class="profile-about__name grey2">I want:</td>
                                        <td class="profile-about__value">Chat</td>
                                      </tr>
                                      <tr>
                                        <td class="profile-about__name grey2">Relación</td>
                                        <td class="profile-about__value">No tengo pareja</td>
                                      </tr>
                                      <tr>
                                        <td class="profile-about__name grey2">Sexualidad</td>
                                        <td class="profile-about__value">Soy gay</td>
                                      </tr>
                                      <tr>
                                        <td class="profile-about__name grey2">Apariencia</td>
                                        <td class="profile-about__value">185 cm, 80 kg, complexión media, pelo moreno y ojos marrones</td>
                                      </tr>
                                      <tr>
                                        <td class="profile-about__name grey2">Vivienda</td>
                                        <td class="profile-about__value">Vivo solo</td>
                                      </tr>
                                      <tr>
                                        <td class="profile-about__name grey2">Hijos</td>
                                        <td class="profile-about__value grey2">Sin rellenar</td>
                                      </tr>
                                      <tr>
                                        <td class="profile-about__name grey2">Tabaco</td>
                                        <td class="profile-about__value">Fumador</td>
                                      </tr>
                                      <tr>
                                        <td class="profile-about__name grey2">Bebida</td>
                                        <td class="profile-about__value">¡Por supuesto!</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="profile-list-element vrt-languages">
                          <div class="js-profile-info-section" data-view-id="72">
                            <div data-view-id="71">
                              <div class="profile-section">
                                <div class="profile-section__title"><i class="icon-svg"><svg class="icon-svg_"><img src="img/amex.png"></svg></i><b class="profile-section__title_">Languages</b>
                                  <div class="profile-section__link action">Editar</div>
                                </div>
                                <div class="profile-section__content is-decorated js-profile-section">
                                  <div>Español</div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="profile-list-element vrt-verification">
                          <div class="js-profile-info-section" data-view-id="75">
                            <div data-view-id="73">
                              <div class="profile-section">
                                <div class="profile-section__title"><i class="icon-svg"><svg class="icon-svg_"><img src="img/amex.png"></svg></i><b class="profile-section__title_">Check profile</b></div>
                                <div class="profile-section__content is-decorated">
                                  <div class="profile-section__intro">Verifica tu perfil con <b>una foto tuya</b> y <b>otra de estas opciones</b>:</div>
                                  <div class="js-profile-section">
                                    <div>
                                      <div class="verification-options-parent-vertical" data-view-id="74">
                                        <div class="verification-options verification-options--vertical qa-profile-verifications">
                                          <div class="verification-option is-inactive">
                                            <div class="verification-option__icon">
                                              <div class="brick"><i class="icon-svg icon-svg--xxlg"><svg class="icon-svg_"><img src="img/icon-circle-photo-gray.png"></svg></i></div>
                                            </div>
                                            <div class="verification-option__description">
                                              <div class="verification-option__name">Foto</div>
                                              <div class="verification-option__message">Verificar<span class="js-countdown"></span></div>
                                            </div>
                                            <div class="b-link qa-verification-method js-verification-method" data-type="photo" data-index="7"></div>
                                          </div>
                                          <div class="verification-divider"><i class="icon-svg icon-svg--xsm"><svg class="icon-svg_"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#verification-option-divider"></use><image src="/img/svg-fallback/multi/original/verification-option-divider.png"></image></svg></i></div>
                                          <div class="verification-option is-inactive">
                                            <div class="verification-option__icon">
                                              <div class="brick"><i class="icon-svg icon-svg--xxlg"><svg class="icon-svg_"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-social-circle-phone-inactive"></use><image src="/img/svg-fallback/multi/original/icon-social-circle-phone-inactive.png"></image></svg></i></div>
                                            </div>
                                            <div class="verification-option__description">
                                              <div class="verification-option__name">Número de teléfono</div>
                                              <div class="verification-option__message">Verificar</div>
                                            </div>
                                            <div class="b-link qa-verification-method js-verification-method" data-type="phone" data-index="0"></div>
                                          </div>
                                          <div class="verification-option is-inactive">
                                            <div class="verification-option__icon">
                                              <div class="brick"><i class="icon-svg icon-svg--xxlg"><svg class="icon-svg_"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-social-circle-facebook-inactive"></use><image src="/img/svg-fallback/multi/original/icon-social-circle-facebook-inactive.png"></image></svg></i></div>
                                            </div>
                                            <div class="verification-option__description">
                                              <div class="verification-option__name">Facebook</div>
                                              <div class="verification-option__message">Verificar</div>
                                            </div>
                                            <div class="b-link qa-verification-method js-verification-method" data-type="facebook" data-index="1"></div>
                                          </div>
                                          <div class="verification-option">
                                            <div class="verification-option__icon">
                                              <div class="brick"><i class="icon-svg icon-svg--xxlg"><svg class="icon-svg_"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-social-circle-google"></use><image src="/img/svg-fallback/multi/original/icon-social-circle-google.png"></image></svg></i></div>
                                            </div>
                                            <div class="verification-option__description">
                                              <div class="verification-option__name">Google Plus</div>
                                              <div class="verification-option__message">Lindoo web</div>
                                            </div>
                                            <div class="verification-option__chevron"><i class="icon-svg icon-svg--sm"><svg class="icon-svg_"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use><image src="/img/svg-fallback/mono-grey/large/icon-arrow-right.png"></image></svg></i></div>
                                            <div class="b-link qa-verification-method js-verification-method" data-type="google" data-index="2"></div>
                                          </div>
                                          <div class="verification-option is-inactive">
                                            <div class="verification-option__icon">
                                              <div class="brick"><i class="icon-svg icon-svg--xxlg"><svg class="icon-svg_"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-social-circle-instagram-inactive"></use><image src="/img/svg-fallback/multi/original/icon-social-circle-instagram-inactive.png"></image></svg></i></div>
                                            </div>
                                            <div class="verification-option__description">
                                              <div class="verification-option__name">Instagram</div>
                                              <div class="verification-option__message">Verificar</div>
                                            </div>
                                            <div class="b-link qa-verification-method js-verification-method" data-type="instagram" data-index="3"></div>
                                          </div>
                                          <div class="verification-option is-inactive">
                                            <div class="verification-option__icon">
                                              <div class="brick"><i class="icon-svg icon-svg--xxlg"><svg class="icon-svg_"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-social-circle-twitter-inactive"></use><image src="/img/svg-fallback/multi/original/icon-social-circle-twitter-inactive.png"></image></svg></i></div>
                                            </div>
                                            <div class="verification-option__description">
                                              <div class="verification-option__name">Twitter</div>
                                              <div class="verification-option__message">Verificar</div>
                                            </div>
                                            <div class="b-link qa-verification-method js-verification-method" data-type="twitter" data-index="4"></div>
                                          </div>
                                          <div class="verification-option is-inactive">
                                            <div class="verification-option__icon">
                                              <div class="brick"><i class="icon-svg icon-svg--xxlg"><svg class="icon-svg_"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-social-circle-linkedin-inactive"></use><image src="/img/svg-fallback/multi/original/icon-social-circle-linkedin-inactive.png"></image></svg></i></div>
                                            </div>
                                            <div class="verification-option__description">
                                              <div class="verification-option__name">LinkedIn</div>
                                              <div class="verification-option__message">Verificar</div>
                                            </div>
                                            <div class="b-link qa-verification-method js-verification-method" data-type="linkedin" data-index="5"></div>
                                          </div>
                                          <div class="verification-option is-inactive">
                                            <div class="verification-option__icon">
                                              <div class="brick"><i class="icon-svg icon-svg--xxlg"><svg class="icon-svg_"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-social-circle-spp-inactive"></use><image src="/img/svg-fallback/multi/original/icon-social-circle-spp-inactive.png"></image></svg></i></div>
                                            </div>
                                            <div class="verification-option__description">
                                              <div class="verification-option__name">Súper Poderes de Badoo</div>
                                              <div class="verification-option__message">Activar</div>
                                            </div>
                                            <div class="b-link qa-verification-method js-verification-method" data-type="spp" data-index="6"></div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="additional-actions qa-additional-actions">
                      <div class="button-wrapper">
                        <button class="button button--secondary  js-block-button hidden js-touchable qa-button" data-action="BLOCK-145">
                          <div class="button__content"><span class="button__text">Bloquear o denunciar</span></div><span class="button__loader"><i class="icon-svg icon-svg--stretch"><svg class="icon-svg_ icon-svg__inactive"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#loader"></use></svg></i></span></button>
                          <button class="button button--destructive  js-unblock-button hidden js-touchable qa-button" data-action="UNBLOCK-149">
                            <div class="button__content"><span class="button__text">Desbloquear</span></div><span class="button__loader"><i class="icon-svg icon-svg--stretch"><svg class="icon-svg_ icon-svg__inactive"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#loader"></use></svg></i></span></button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div data-view-id="55" class="hidden">
                  <div class="page-content">
                    <div class="cta-box">
                      <div class="cta-box__content js-error-image-section"><img src="/img/no-sprite/raccoon.png" alt="" width="175" height="175"></div>
                      <div class="cta-box__header">¡Uy!</div>
                      <div class="cta-box__content">Se ha producido un error. Pero no te preocupes, ya estamos haciendo todo lo posible para solucionarlo cuanto antes. Inténtalo de nuevo en unos momentos.</div>
                      <div class="cta-box__buttons">
                        <div class="button-wrapper">
                          <button class="button button--primary   js-touchable qa-button" data-action="REFRESH-135">
                            <div class="button__content"><span class="button__text">Actualizar</span></div><span class="button__loader"><i class="icon-svg icon-svg--stretch"><svg class="icon-svg_ icon-svg__inactive"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#loader"></use></svg></i></span></button>
                          </div>
                        </div>
                        <div class="cta-box__additional js-error-refresh-timer"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="js-fab-container"></div>
          </div>
        </div>
      </ion-content>
